.home-wrapper {
  margin: 0 0 0 17.5rem;
  background: rgb(23, 23, 26);
  background: linear-gradient(90deg, rgba(23, 23, 26, 1) 75%, rgba(29, 185, 146, 0.75) 100%);
  min-height: 100vh;
  min-width: 100vb;
}
